@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body{
	line-height: 1.5;
	font-family: 'Poppins';
	font-weight: 400;
	overflow-x: hidden;
	background-color: #f9feff;
}
*{
	margin:0;
	box-sizing: border-box;
}
:before,:after{
	box-sizing: border-box;
}
.container{
	max-width: 1200px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
.v-center{
	align-items: center; 
}
ul{
	list-style: none;
	margin:0;
	padding:0;
}
a{
	text-decoration: none;
}
/* header */
.header{
	display: block;
	width: 100%;
	position: relative;
	z-index: 99;
	padding:15px; 
}
.header .item-left{
	flex:0 0 17%;
}
.header .logo a{
	font-size: 30px;
	color:#000000;
	font-weight: 700;
	text-decoration: none;
}
.header .logo a img{
	width:100px;
}
.header .item-center{
	flex:0 0 81%;
}
.header .item-right{
	flex:0 0 2%;
	display: flex;
	justify-content: flex-end;
}
.header .item-right a{ 
     text-decoration: none;
     font-size: 16px;
     color:#555555;
     display: inline-block;
     margin-left: 10px;
     transition: color 0.3s ease;
}
.header .menu > ul > li{
	display: inline-block;
	line-height: 50px;
	margin-left: 25px;
}
.header .menu > ul > li > a{
	font-size: 15px;
	font-weight: 500;
	color:#000000;
	position: relative;
	text-transform: capitalize;
	transition: color 0.3s ease;
}
.header .menu > ul > li .sub-menu{
	position: absolute;
	z-index: 500;
	background-color:#ffffff;
	box-shadow: -2px 2px 70px -25px rgba(0,0,0,0.3); 
	padding: 20px 30px;
	transition: all 0.5s ease;
	margin-top:25px;
	opacity:0;
	visibility: hidden;
}
@media(min-width: 992px){
.header .menu > ul > li.menu-item-has-children:hover .sub-menu{
	margin-top: 0;
	visibility: visible;
	opacity: 1;
}
}
.header .menu > ul > li .sub-menu > ul > li{
	line-height: 1;
}
.header .menu > ul > li .sub-menu > ul > li > a{
	display: inline-block;
	padding: 10px 0;
	font-size: 15px;
	color: #d5db34;
	transition: color 0.3s ease;
	text-decoration: none;
	text-transform: capitalize;
}
.header .menu > ul > li .single-column-menu{
	min-width: 280px;
	max-width: 350px;
	border-radius: 30px; 
	padding:20px 15px;
	color: #000;
}
.header .menu > ul > li .single-column-menu >ul > li  a{
	padding:20px 15px;
	color: #000;
}

.header .menu > ul > li .single-column-menu >ul > li  a:hover{
	color:#554106; 
	background-color: #f3f0c3;  
	width:100%;
	border-radius: 20px;
}



.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li{
   line-height: 1;
   display: block; 
}
.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a {
	padding:10px 0;
	display: inline-block;
	font-size: 15px;
	color:#555555;
	transition: color 0.3s ease;
}

.header .menu > ul > li .sub-menu.mega-menu{ 
    left: 50%;
    transform: translateX(-50%);	
}

.header .menu > ul > li .sub-menu.mega-menu-column-4{
  max-width: 1000px;
  width: 100%; 	
  display: flex;
  flex-wrap: wrap;
  padding:20px 15px;
  border-radius:50px;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item{
  flex:0 0 33%;
  padding:0 15px;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item .title{
	font-size: 16px;
	color:#0446aa;
	font-weight: 500;
	line-height: 1;
	padding:10px 0;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item.text-center .title{
	text-align: center;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item img{
	max-width: 100%;
	width: 100%;
	vertical-align: middle;
	margin-top: 10px;
}
.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a,
.header .item-right a{ 
	padding:15px 10px;
	width: 100%;
	border-radius: 13px;
}

.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a:hover,
.header .item-right a:hover{
	text-decoration: none;
	color:#554106; 
	background-color: #f3efc3;  

}

 
.list-item-details img{
	width: 100%; 
	width: 100%;
	border-radius: 50px; 
}


.mobile-menu-head,
.mobile-menu-trigger{
	display: none;
}

/*responsive*/
@media(max-width: 991px){

	.header .item-center{
		order:3;
		flex:0 0 100%;
	} 
	.v-center{
		justify-content: space-between;
	}
	.header .mobile-menu-trigger{
		display: flex;
		height: 30px;
		width: 60px;
		margin-left: 15px;
		cursor: pointer;
		align-items: center;
		justify-content: center;
	}
	.header .mobile-menu-trigger span{
		display: block;
		height: 2px;
		background-color: #333333;
		width: 24px;
		position: relative;
	}
	.header .mobile-menu-trigger span:before,
	.header .mobile-menu-trigger span:after{
		content: '';
		position: absolute;
		left:0;
		width: 100%;
		height: 100%;
		background-color: #333333;
	}
	.header .mobile-menu-trigger span:before{
		top:-6px;
	}
	.header .mobile-menu-trigger span:after{
		top:6px;
	}
	.header .item-right{
		align-items: center;
	}

	.header .menu{
		position: fixed;
		width: 320px;
		background-color:#ffffff;
		left:0;
		top:0;
		height: 100%;
		overflow: hidden;
		transform: translate(-100%);
		transition: all 0.5s ease;
		z-index: 1099;
	}
	.header .menu.active{
	   transform: translate(0%);	
	}
	.header .menu > ul > li{
		line-height: 1;
		margin:0;
		display: block;
	}
	.header .menu > ul > li > a{
		line-height: 50px;
		height: 50px;
		padding:0 50px 0 15px;
		display: block;
		border-bottom: 1px solid rgba(0,0,0,0.1);
	}
	.header .menu > ul > li > a i{
		position: absolute;
		height: 50px;
		width: 50px;
		top:0;
		right: 0;
		text-align: center;
		line-height: 50px;
		transform: rotate(-90deg);
	}
	.header .menu .mobile-menu-head{
		display: flex;
		height: 50px;
		border-bottom: 1px solid rgba(0,0,0,0.1);
		justify-content: space-between;
		align-items: center;
		position: relative;
		z-index: 501;
		position: sticky;
		background-color: #ffffff;
		top:0;
	}
	.header .menu .mobile-menu-head .go-back{
		height: 50px;
		width: 50px;
		border-right: 1px solid rgba(0,0,0,0.1);
		cursor: pointer;
		line-height: 50px;
		text-align: center;
		color:#000000;
		font-size: 16px;
		display: none;
	}
	.header .menu .mobile-menu-head.active .go-back{
		display: block;
	}
	.header .menu .mobile-menu-head .current-menu-title{
		font-size: 15px;
		font-weight: 500;
		color:#000000;
	}
	.header .menu .mobile-menu-head .mobile-menu-close{
	    height: 50px;
		width: 50px;
		border-left: 1px solid rgba(0,0,0,0.1);
		cursor: pointer;
		line-height: 50px;
		text-align: center;
		color:#000000;	
		font-size: 25px;
	}
	.header .menu .menu-main{
		height: 100%;
		overflow-x: hidden;
		overflow-y: auto;
	}
	.header .menu > ul > li .sub-menu.mega-menu,
	.header .menu > ul > li .sub-menu{
		visibility: visible;
		opacity: 1;
		position: absolute;
		box-shadow: none;
		margin:0;
		padding:15px;
		top:0;
		left:0;
		width: 100%;
		height: 100%;
		padding-top: 65px;
		max-width: none;
		min-width: auto;
		display: none;
		transform: translateX(0%);
		overflow-y: auto;
	}
.header .menu > ul > li .sub-menu.active{
	display: block;
}
@keyframes slideLeft{
	0%{
		opacity:0;
		transform: translateX(100%);
	}
	100%{
	    opacity:1;
		transform: translateX(0%);	
	}
}
@keyframes slideRight{
	0%{
		opacity:1;
		transform: translateX(0%);
	}
	100%{
	    opacity:0;
		transform: translateX(100%);	
	}
}
	.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item img{
		margin-top:0;
	}
	.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item.text-center .title{
		margin-bottom: 20px;
	}
	.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item.text-center:last-child .title{
		margin-bottom:0px;
	}
	.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item{
		flex: 0 0 100%;
        padding: 0px;
	}
	.header .menu > ul > li .sub-menu > ul > li > a,
	.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a{
		display: block;
	}
	.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul {
		margin-bottom: 15px;
	}
	.menu-overlay{
		position: fixed;
		background-color: rgba(0,0,0,0.5);
		left:0;
		top:0;
		width: 100%;
		height: 100%;
		z-index: 1098;
		visibility: hidden;
		opacity:0;
		transition: all 0.5s ease;
	}
	.menu-overlay.active{
	  visibility: visible;
	  opacity:1;	
	}
}










 
/* About us Start  */
.about-img-2{
	top:-100px; 
	right:-50px; 
	position: relative;
}

@media (max-width: 990px) {
    .about-img-2 {
		top:-100px; 
		right:-50px; 
		margin-bottom: -100px;
    }
}

@media (max-width: 768px) {
    .about-img-2 {
		top:-50px; 
		right:-50px; 
		margin-bottom: -60px;
    }
}

/* About us Start  */





.counter-section {
	background: url('/static/website/img/parallex-1.jpg') no-repeat fixed center;
	background-size: cover;
	overflow: hidden;
}
.counter-overlay {
	background: linear-gradient(to left, rgba(145, 110, 33, 0.651), rgba(194, 170, 120, 0.644));
}
.counter-section h3 {
	font-weight: 600;
	font-size: 38px;
}
.counter-section i {
	display: block;
	position: relative;
	width: 70px;
	height: 70px;
	border-radius: 100px;
	background: #ffffff;
	color: #c07d26;
	font-size: 30px;
	line-height: 70px;
	margin: 0 auto;
	cursor:pointer;
}

 

.counter-card {
    background-color: #ffffff5b;
    padding: 20px; 
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    text-align: center;
}

.counter-image {
    width: 60px; /* Adjust size as needed */
    margin-bottom: 15px;
}

.counter-card p {
    font-size: 18px;
    color: #34495e;
    margin-bottom: 10px;
    font-weight: bold;
}

.counter-card h1 {
    font-size: 40px;
    color: #2c3e50;
}

.counter-card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.counter-section {
    background-color: #f7f7f754; 
}

.section-padding {
    padding: 40px 0;
}


/* Counter Stop  */







/*  our facts start */

.our-facts {
	position: relative; /* Ensure the pseudo-element is positioned correctly */
	background-image: url('/static/website/img/fact.jpg');
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 140px 0px 125px 0px;
  }
  
  /* Add this new CSS rule */
  .our-facts::before {
	content: ''; /* Necessary to display the pseudo-element */
	position: absolute; /* Position it relative to the .our-facts container */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(61, 61, 61, 0.753); /* Light gray with transparency */
	z-index: 1; /* Ensure it is on top of the background image */
  }
  
  /* Adjust content within .our-facts if needed */
  .our-facts > * {
	position: relative; /* Ensure content is above the overlay */
	z-index: 2; /* Above the overlay */
  }
  
  
	.our-facts h2 {
	  font-size: 38px;
	  color: #fff;
	  line-height: 50px;
	  font-weight: 700;
	  letter-spacing: 0.5px;
	  margin-bottom: 50px;
	}
	
	.count-area-content {
	  text-align: center;
	  background-color: rgba(250,250,250,0.15);
	  border-radius: 20px;
	  padding: 25px 30px 35px 30px;
	  margin: 15px 0px;
	}
	
	.percentage .count-digit:after {
	  content: '%';
	  margin-left: 3px;
	}
	
	.count-digit {
		margin: 5px 0px;
		color: #ffbf00;
		font-weight: 700;
		font-size: 36px;
	}
	.count-title {
		font-size: 18px;
		font-weight: 500;
		color: #fff;
		letter-spacing: 0.5px;
	}
	
	.new-students {
	  margin-top: 45px;
	}
	
	.our-facts .video {
	  text-align: center;
	  background-image: url('/static/website/img/youtube_thumbnail.png');
	  background-repeat: no-repeat;
	  background-position: center center;
	  background-size: cover;
	  border-radius: 20px;
	}
	
	.our-facts .video img {
	  padding: 170px 0px;
	  max-width: 56px;
	}
	
	/*  our facts Stop */

	


/* service start */
 
/* service stop */


/* Gallery Start  */
 
.gallery-carousel .item {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px; /* Adjust padding if necessary */
  }

  .gallery-carousel .item img {
	display: block;
	width: 100%;
	border-radius: 20px;
	height: auto;
	border-radius: 10px; /* Optional: adds rounded corners to images */
  }
  
  @media (min-width: 768px) {
	.gallery-carousel .item {
	  padding: 20px; /* Adjust padding for larger screens */
	}
  }

  @media (max-width: 767px) {
	.gallery-carousel .item {
	  padding: 5px; /* Adjust padding for smaller screens */
	}
  }

  
.gallery-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.gallery-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    background: #afafaf;
    border: 5px solid var(--light);
    border-radius: 50%;
    transition: background-color 0.5s;
}

.gallery-carousel .owl-dot.active {
    background-color: #e4dc03;
    border-color: var(--primary);
}

.gallery-carousel .owl-dot:hover {
    background-color: #eaff00;
}


/* Gallery STOP  */



 /*** News ***/
.news-carousel-item{
	border-radius: 30px;
	box-shadow: 7px 7px 39px -22px rgba(0,0,0,1);
  }
  .news-carousel-item .news-img img{
	border-radius: 30px;
    transition: 0.3s;
  }
  

  .news-carousel-item:hover {
    transform: translateY(-10px);
    transition: 0.3s;
}

.news-carousel-item .news-img img {
    border-radius: 30px;
    transition: 0.3s;
}

.news-carousel-item:hover .news-img img {
    transform: scale(1.05);
    transition: 0.3s;
}



.news-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.news-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    background: #afafaf;
    border: 5px solid var(--light);
    border-radius: 50%;
    transition: background-color 0.5s;
}

.news-carousel .owl-dot.active {
    background-color: #effa5a;
    border-color: var(--primary);
}

.news-carousel .owl-dot:hover {
    background-color: #effa5a;
}



.news-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.news-date-location {
    font-size: 14px;
    display: flex;
    align-items: center;
}

.badge {
    border-radius: 20px;
    padding: 6px 12px;
    display: inline-flex;
    align-items: center;
    font-size: 12px;
}

.bg-date {
    background-color: #e0f7fa;
    color: #00796b;
}

.bg-location {
    background-color: #ffeb3b;
    color: #f57f17;
}

.badge i {
    margin-right: 5px;
    font-size: 14px;
}


/* contact form  */

.contact-us-section {
    padding: 0px 0;
    
}

.contact-form {
	background-color: #ffffff;
	border-radius: 15px;
	padding: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.contact-form .form-control {
	border-radius: 10px;
	margin-bottom: 15px;
	padding: 5px;
	border: 1px solid #ddd;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.contact-form .form-control:focus {
	border-color: #007bff;
	box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25);
}
.contact-form button {
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 10px;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s;
}
.contact-form button:hover {
	background-color: #0056b3;
}
.contact-form .form-group {
	margin-bottom: 1.5rem;
}
.contact-form .form-group label {
	margin-bottom: 0.5rem;
	font-weight: bold;
}



/* Information  */
.info-card {
	border-radius: 10px;
	padding: 15px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	margin-bottom: 15px;
	transition: transform 0.3s ease;
}
.info-card:hover {
	transform: scale(1.05);
}
.info-card i {
	font-size: 24px;
	margin-right: 10px;
}
.info-card h5 {
	font-size: 18px;
	margin-bottom: 10px;
}
.info-card p {
	margin: 0;
	font-size: 16px;
}



/* Accordian  */



/* Footer start  */
.footer{  
    background: #091f11de;
}



.contact-us-form{
	background-color: #ffffff;
	padding: 10px;
	border:none;
	border-bottom: 2px solid gray;
 
}








